body{
    font-family: "Times New Roman", Times, serif;
    background-color:#757575;
}
.navbar {
    z-index: 1;
    height: 100px;
    background-color:#424242;
 
}
.form-inline{
    color: #fff;
}
.container-fluid{
    margin-top: 120px;
}
@media screen and (min-width:320px)  { 
    .row{
        float: left;
    }
}
